<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression">

    <listeners>
        <listener class-name="mips_SubmissionUI.Listeners"/>

        <listener class-name="pack_Reports.ExtentReportNG"/>
    </listeners>

    <test name="1) Validate Login and Logout functionality in MIPS Application">
        <classes>
            <class name="mips_SubmissionUI.LoginLogout"/>
        </classes>
    </test>

    <test name="2) Validate Page Navigation across MIPS Application">
        <classes>
            <class name="mips_SubmissionUI.PageNavigation"/>
        </classes>
    </test>

    <test name="3) Validate Logos in the Account Dashboard">
        <classes>
            <class name="mips_SubmissionUI.AdashLogoVerification"/>
        </classes>
    </test>

    <test name="4) Assert the text Account Dashboard">
        <classes>
            <class name="mips_SubmissionUI.AdashTextAssertion"/>
        </classes>
    </test>

    <test name="5) Validate Collapse/Expand button on the sidebar">
        <classes>
            <class name="mips_SubmissionUI.SidebarCollapse_Expand"/>
        </classes>
    </test>

    <test name="6) Validate Group and Individual Reporting links">
        <classes>
            <class name="mips_SubmissionUI.ReportingPages"/>
        </classes>
    </test>

    <test name="7) Validate Quality Reporting Button">
        <classes>
            <class name="mips_SubmissionUI.QualityReportingBtn"/>
        </classes>
    </test>

    <test name="8) Validate ACI Reporting Button">
        <classes>
            <class name="mips_SubmissionUI.ACIReportingBtn"/>
        </classes>
    </test>

    <test name="9) Validate IA Reporting Button">
        <classes>
            <class name="mips_SubmissionUI.IAReportingBtn"/>
        </classes>
    </test>

    <test name="10) Validate Sidebar navigation links">
        <classes>
            <class name="mips_SubmissionUI.LeftHandNavbarElements"/>
        </classes>
    </test>

    <test name="11) Validate Quality Read Full Instructions">
        <classes>
            <class name="mips_SubmissionUI.Qualityread"/>
        </classes>
    </test>

    <test name="12) Validate Quality Upload Modal">
        <classes>
            <class name="mips_SubmissionUI.QualityUploadModal"/>
        </classes>
    </test>

    <test name="13) Validate IA Read Full Instructions">
        <classes>
            <class name="mips_SubmissionUI.IAread"/>
        </classes>
    </test>

    <test name="14) Validate IA Upload Modal">
        <classes>
            <class name="mips_SubmissionUI.IAUploadModal"/>
        </classes>
    </test>

    <test name="15) Validate IA Yellow Banner">
        <classes>
            <class name="mips_SubmissionUI.IAYellowBanner"/>
        </classes>
    </test>

    <test name="16) Validate IA Delete Category Data Button">
        <classes>
            <class name="mips_SubmissionUI.IADataDeletion"/>
        </classes>
    </test>

    <test name="17) Validate IA Manual Performance Period Entry">
        <classes>
            <class name="mips_SubmissionUI.IADateSelection"/>
        </classes>
    </test>

    <test name="18) Validate IA Filters Button">
        <classes>
            <class name="mips_SubmissionUI.IAFilterButton"/>
        </classes>
    </test>

    <test name="19) Validate IA Filter Checkboxes">
        <classes>
            <class name="mips_SubmissionUI.IAFilterCheckboxes"/>
        </classes>
    </test>

    <test name="20) Validate IA Clear All Filters Button">
        <classes>
            <class name="mips_SubmissionUI.IAClearAllFilters"/>
        </classes>
    </test>

    <test name="21) Validate IA Search Activities">
        <classes>
            <class name="mips_SubmissionUI.IASearchActivities"/>
        </classes>
    </test>

    <test name="22) Validate IA PCMH Attestation">
        <classes>
            <class name="mips_SubmissionUI.IA_PCMHattestation"/>
        </classes>
    </test>

    <test name="23) Validate IA Page Popup Buttons">
        <classes>
            <class name="mips_SubmissionUI.IAPopup"/>
        </classes>
    </test>

    <test name="24) Validate ACI Read Full Instructions">
        <classes>
            <class name="mips_SubmissionUI.ACIread"/>
        </classes>
    </test>

    <test name="25) Validate ACI File Upload Button">
        <classes>
            <class name="mips_SubmissionUI.ACIUploadModal"/>
        </classes>
    </test>

    <test name="26) Validate ACI Delete Category Data Button">
        <classes>
            <class name="mips_SubmissionUI.ACIDataDeletion"/>
        </classes>
    </test>

    <test name="27) Validate ACI Performance Period Yellow Banner Text">
        <classes>
            <class name="mips_SubmissionUI.ACIPerfYellow"/>
        </classes>
    </test>

    <test name="28) Validate ACI Manual Performance Period Entry >90 days">
        <classes>
            <class name="mips_SubmissionUI.ACIDate90More"/>
        </classes>
    </test>

    <test name="29) Validate ACI Hide/Show Button">
        <classes>
            <class name="mips_SubmissionUI.ACIHide_Show"/>
        </classes>
    </test>

    <test name="30) Validate ACI Track Selection">
        <classes>
            <class name="mips_SubmissionUI.ACITrackSelection"/>
        </classes>
    </test>

    <test name="31) Validate ACI Base Measure Yellow Banner Text">
        <classes>
            <class name="mips_SubmissionUI.ACIBaseYellow"/>
        </classes>
    </test>

    <test name="32) Validate ACI Pre-Attestation selection">
        <classes>
            <class name="mips_SubmissionUI.ACIPreAttestation"/>
        </classes>
    </test>

    <test name="33) Validate ACI Non-base Measures Yellow Banner Text">
        <classes>
            <class name="mips_SubmissionUI.ACINonBaseYellow"/>
        </classes>
    </test>

    <test name="34) Validate ACI Base Measures Attestation">
        <classes>
            <class name="mips_SubmissionUI.ACIBaseAttestation"/>
        </classes>
    </test>

    <test name="35) Validate ACI Optional Measures Attestation">
        <classes>
            <class name="mips_SubmissionUI.ACIOptionalAttestation"/>
        </classes>
    </test>

    <test name="36) Validate ACI Category Success! Text">
        <classes>
            <class name="mips_SubmissionUI.ACICategorySuccess"/>
        </classes>
    </test>

    <test name="37) Validate ACI Bonus Measures Attestation">
        <classes>
            <class name="mips_SubmissionUI.ACIBonusAttestation"/>
        </classes>
    </test>

    <test name="38) Validate ACI CEHRT Used Attestation">
        <classes>
            <class name="mips_SubmissionUI.ACICEHRTAttestation"/>
        </classes>
    </test>

    <test name="39) Validate ACI CEHRT Used Improvement Activities link">
        <classes>
            <class name="mips_SubmissionUI.ACICEHRTialink"/>
        </classes>
    </test>
</suite>
